* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  padding: 25px 50px 75px;
}

.margincenter {
  width: 300px;
  margin: auto;
}


.container {
  display: grid;
}

.twocolumns {
  grid-template-columns: 50% 50%;
}

#headline {
  font-size: 40px;
}

.centertext {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon {
  width: 300px;
  height:300px;
  background-color: rgb(70, 70, 160);
  margin: auto;
}
